.body-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    margin: 0 auto;
    justify-content: center;
}

.container{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}